@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: rgb(25, 25, 158);
    font-size: 100px;
    font-family: "Indie Flower";
}

p{
    color: rgb(44, 44, 196);
    font-weight: 600px;
    font-family: "Indie Flower";
    line-height: 80px;
    letter-spacing: 2px;
}

.box{
    width: 100px;
    height: 100px;
    background: rgb(67, 67, 236);
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.box2{
    width: 100px;
    height: 100px;
    background: rgb(180, 16, 16);
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}